fileio/*
!fileio/placeholder
FBM1/the_italian_job_ws/build
FBM1/the_italian_job_ws/devel
FBM1/the_italian_job_ws/.catkin_workspace
FBM1/the_italian_job_ws/.catkin_workspace
!FBM1/the_italian_job_ws/backup/placeholder
*.pyc
*.png
!images/frontpage.png
*.weights