<launch>

  <node name="world_to_vicon_link_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 world vicon 100" />

  <!-- Fixed odometry, faked until we have a better solution -->
  <node name="odom_to_base_link_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 vicon odom 100" />

  <!-- Vicon Pose is at the center of gravity of the drone, with FLU (Forward, Left, Up) axis, as well as the flight controller (DJI A3). -->
  <node name="vicon_frame_static_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link vicon_sensor 100" />

  <!-- 
    Flight Controller Imu:
      x: 0.0 cm
      y: 0.0 cm
      z: 0.0 cm

      Roll:   0.0 deg
      Pitch:  0.0 deg
      Yaw:    0.0 deg
  -->
  <node name="imu_frame_static_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link body_FLU 100" />

  <!-- 
    RP-LIDAR:
     x: -5.5 cm
     y:  0.0 cm
     z: 16.5 cm
  
     Roll:   0.0 deg
     Pitch:  0.0 deg
     Yaw:    -177.23 deg
  -->
  <node name="laser_mount_static_publisher" pkg="tf" type="static_transform_publisher" args="-0.055 0.0 0.165 3.0932470333095496 0.0 0.0 base_link laser 100" />
  
  <!--
    Realsense D435i Depth Camera (Color Camera Frame):
     x:  8.3 cm
     y: -3.0 cm
     z: -4.5 cm
  
     Roll:   0.0 deg
     Pitch:  15.0 deg
     Yaw:    0.0 deg
  -->
  <node name="camera_mount_static_publisher" pkg="tf" type="static_transform_publisher" args="0.083 -0.03 -0.045 0.0 0.2617993877991494 0.0 base_link camera_mount_frame 100" />
  <node name="camera_color_static_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 -1.57 0.0 -1.57 camera_mount_frame camera_color_optical_frame 100" />
  <node name="camera_depth_static_publisher" pkg="tf" type="static_transform_publisher" args="0.05 0.0 0.0 0.0 0.0 0.0 camera_color_optical_frame camera_depth_optical_frame 100" />
  <node name="camera_accel_static_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 -1.57 0.0 -1.57 camera_mount_frame camera_accel_optical_frame 100" />

  <node name="groun_truth_publisher" pkg="tij_challenger" type="ground_truth_broadcaster.py" respawn="false" output="screen" />

</launch>